@import "../../Styles/variables";
@import "../../Styles/mixins";

.card {
  width: $card-width;
  height: $card-height;
  @include flexContainer;
  align-items: flex-end;
  padding: 40px 0;
  background: $background-red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &__name {
    color: $light;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.card:hover {
  border: 1px solid #fff;
  transform: scale(1.1);
}
